html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    }

#all-navbar{
     position: fixed; 
     /* border: 1px solid red; */
     width: 100%;
     
}

#top-navbar{
    
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    
    
}
#a,#b{
    display: flex;
    gap:30px;
    font-size: small;
    font-family:  "Gill Sans", sans-serif;
    color: rgba(0,0,0,0.9);
    margin-left: 100px;
    margin-right: 100px;
    cursor: pointer;
}
/* --------------------------navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* position: fixed; */
}
#left{
    display: flex;
    gap: 30px;
    padding-left: 100px;
    font-family:  "Gill Sans", sans-serif;
    font-size: large;   
}
#right{
    padding-right: 100px;
    display: flex;
    gap: 30px; 
    font-family:  "Gill Sans", sans-serif;
    font-size: large;
}
#left img{
    width: 147px;
    height: 50px;

}
#left p,img{
    cursor: pointer;
}
#right p{
    cursor: pointer;
}
#search-bar{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #eaeaea;
    margin-top: 10px;
    padding-left: 10px;
}
#hr{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid white;
}

/* ------------------down-navbar------------ */
#down-navbar{
    background-color: white;
}
#down-navbar>div{
    display: flex;
    font-family:  "Gill Sans", sans-serif;  
    /* border:1px solid red; */
    width: 400px;
    height: 70px;
    margin: auto;
    gap:30px;
    
}
#down-navbar>div p,h6{
    font-size: 25px;
    cursor: pointer;   
}
#down-navbar>div h6{
    font-size: 30px;
    margin-top: 21px;    
}

/* ----------------------------------------------------- */

#home-pic{
    display: flex;
    /* gap:10px; */
    margin-top: 190px;
    /* border: 1px solid blue; */
    width: 100%;
    justify-content: space-around;
    
}
#home-pic img{
    width: 400px;
    height: 400px;
    /* padding-left: 20px;
    padding-right: 20px; */
}
/* -------------------------------------------------------- */
#nine-div{
    display:flex ;
    gap: 20px;
    
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    padding-bottom: 30px;
    padding-left: 40px;

}
#nine-div img{
    width: 115px;
    height: 140px;
    border-radius: 15px;
    margin-top: 50px;
}
/* ----------------popular category------------------- */
#popular{
    display: flex;
    /* gap: 30px; */
    margin: auto;
    width: 85%;
    /* border: 1px solid red; */
}
#popular>div{
    margin: auto;
    gap: 30px;

}
#popular img{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    
}
.pc{
    text-align: center;
    margin-bottom: 10px;
    font-family:  "Gill Sans", sans-serif;
    
    
}
/* --------------------------trends-3-div-------------------------------------- */
#trends{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap:25px;
    /* padding-left: 20px;
    padding-right: 20px; */
}
#trends img{
    height: 400px;
    width: 400px;
}
/* ----------------------------------favourite-------------------------------------- */
#favourite{
    display: flex;
    justify-content: space-around;
}
#favourite img{
    width: 650px;
    height: 500px;
}
/* ---------------------FOOTER-------------------------------- */
#footer{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    width: 100%;
    /* height: 500px; */
    background-color: #181818;
}
#footer>div{
    width: 285px;
    height:auto;
    /* border: 1px solid blue; */
    background-color: 
    #181818;
    margin-left: 40px;
    

}
#footer img{
    width: 100px;
    height: 50px;
}
#footer h6{
    font-size: medium;
    font-family:  "Gill Sans", sans-serif;
    color: yellow;
}
#footer p{
    font-size: medium;
    font-family:  "Gill Sans", sans-serif;
    color: white;
}

#email{
    width:156px;
    height: 34px;
    padding: 6px 12px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color:yellow ;
    color: grey;
    font-size: medium;
    background-color: 
    #181818;
}
#btn{
    width:150px;
    height: 50px;
    padding: 6px 12px;
    background-color: yellow;
    border: none;
}
/* --------------------------------------------------------------- */
#footer-2{
    width: 100%;
    height: 300px;
    /* border: 1px solid blue; */
    margin-top: 20px;
    display: flex;
    gap: 40px;
    margin-left: 40px;
    background-color: 
    #181818;
}
#footer-2>div{
    width: 285px;
    height:auto;
    /* border: 1px solid blue; */
    background-color:
    #181818;
    

}
#footer-2 h6{
    font-size: medium;
    font-family:  "Gill Sans", sans-serif;
    color: yellow;
}
#footer-2 p{
    font-size: medium;
    font-family:  "Gill Sans", sans-serif;
    color: white;
}
#all-footer{
    background-color: 
    #181818;
    padding-top: 100px;
    padding-right: 35px;
}