h1{
    padding-top: 100px;
    padding-left: 100px;
    font-family:  "Gill Sans", sans-serif;
}

#login{
    display: flex;
    width: 90%;
    height: 600px;
    /* border: 1px solid red; */
    margin: auto;
    gap: 20px;
    
}
#left-1{
    width: 50%;
    height: 450px;
    /* border: 1px solid blue; */
    padding-top: 50px;
}
#right-1{
    width: 50%;
    height: 450px;
    /* border: 1px solid blue; */
    padding-top: 30px;
    text-align: center;
    font-family:  "Gill Sans", sans-serif;
    font-size: large;
}
#right-1 h4{
    color: gray;
}
#input{
    width: 390px;
    height: 60px;
    /* padding: 0px 0px 0px 100px; */
    font-size: larger;
    text-align: center;
    border-radius: 10px;
}
#btn-1{
    width: 400px;
    height: 60px;
    font-size: larger;
    background-color: 
    #42a2a2;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#btn-2{
    width: 350px;
    height: 40px;
    padding: 1px 6px;
    margin: 0px 0px 20px;
    border-radius: 5px;
    border: 0.5px solid gray;
    background-color: white;
}
#btn-3,#btn-4{
    width: 170px;
    height: 40px;
}
