#men-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    margin-top: 230px;
    margin-left: 60px;
    gap: 20px;
}
#men-content>div{
    /* border: 1px solid blue; */
    /* width: 300px;
    height: 500px; */
    line-height: normal;
    
}
#men-conten>div img{
    width: 100%;
}
#home{
    margin-top: 180px;
    padding-left: 100px;
    /* height: 200px; */
    font-family:  "Gill Sans", sans-serif;
    text-decoration: none;
    position: fixed; 
     /* border: 1px solid red; */
     width: 100%;
     background-color: white;
     height: 50px;

}
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    }